/* Roboto Medium font */
@font-face {
  src: url(fonts/Roboto/Roboto-medium.ttf);
  font-family: roboto-medium;
}

/* Oswald Regular font */
@font-face {
  src: url(fonts/Oswald/static/Oswald-Regular.ttf);
  font-family: oswald-regular;
}

/* Styling for body */
body {
  background-color: rgb(41, 39, 39);
  color: white;
  text-align: center;
  font-family: oswald-regular;
}

/* Styling for h1 */
h1 {
  margin: 30px 0 0;
  font-size: 50px;
  text-shadow: 5px 5px black;
}

/* Styling for text area */
textarea {
  background-color: rgb(59, 56, 56);
  color: white;
  margin: 30px 0;
  padding: 10px;
  width: 290px;
  height: 200px;
  font-family: roboto-medium;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 2px;
  text-align: center;
  resize: none;
  border: none;
  border-radius: 5px;
  outline: none;
}

/* Styling for word count */
.total {
  background-color: rgb(22, 106, 163);
  width: 250px;
  margin: 0 auto;
  font-size: 40px;
  text-shadow: 3px 3px black;
  border-radius: 12px;
}

/* Styling for word frequency */
h2 {
  font-size: 30px;
  text-shadow: 3px 3px black;
}

/* Styling for sort menu */
.sort {
  margin: -20px 0 30px;
  font-size: 20px;
}

#sort-select {
  width: 180px;
  height: 35px;
  position: relative;
  top: 2px;
  line-height: 0px;
  font-size: 20px;
  font-family: oswald-regular;
}

/* Styling for table */
table {
  margin-top: 20px;
  width: 100%;
  table-layout: fixed;
}

/* Styling for table header */
th {
  font-size: 28px;
  text-shadow: 3px 3px black;
}

/* Styling for table row */
tr {
  font-size: 24px;
}

tr:nth-child(even) {
  background-color: #473f3f;
}

/* Styling for table data and header */
td, th {
  text-align: center;
  word-wrap: break-word;
}

/* Styling for table elements */
td, th, tr, table {
  border: 0; 
  border-spacing: 0;
}

/* Styling for table elements */
td, th, tr, table {
  border: 0; 
  border-spacing: 0;
}

@media only screen and (min-width: 428px) {
  /* Styling for text area */
  textarea {
    width: 360px;
    height: 225px;
  }
}

@media only screen and (min-width: 800px) {
  /* Styling for h1 */
  h1 {
    margin: 50px 0 0;
    font-size: 70px;
  }

  /* Styling for text area */
  textarea {
    width: 650px;
    height: 380px;
    margin: 50px 0;
  }

  /* Styling for word count */
  .total {
    width: 350px;
    font-size: 45px;
  }

  /* Styling for word frequency */
  h2 {
    font-size: 40px;
  }

  /* Styling for sort menu */
  .sort {
    font-size: 30px;
  }

  #sort-select {
    width: 240px;
    height: 45px;
    top: -2px;
    font-size: 25px;
  }

  /* Styling for table wrapper */
  .tableWrapper {
    width: 500px;
    margin: 0 auto;
  }

  /* Styling for table header */
  th {
    font-size: 32px;
  }

  /* Styling for table row */
  tr {
    font-size: 28px;
  }
}

@media only screen and (min-width: 1280px) {
  /* Styling for h1 */
  h1 {
    margin: 15px 0 0;
    font-size: 90px;
  }

  /* Styling for text area */
  textarea {
    width: 800px;
    height: 475px;
    margin: 30px 0;
  }

  /* Styling for word frequency */
  h2 {
    margin-top: 25px;
    font-size: 60px;
  }

  /* Styling for sort menu */
  .sort {
    font-size: 40px;
  }

  #sort-select {
    height: 50px;
    font-size: 30px;
  }

  /* Styling for table wrapper */
  .tableWrapper {
    width: 700px;
  }

  /* Styling for table header */
  th {
    font-size: 35px;
  }

  /* Styling for table row */
  tr {
    font-size: 31px;
  }
}